
<ul ngClass="nav nav-tabs">
        <li ngClass="nav-item">
                <a  routerLinkActive="actif" ngClass="nav-link" routerLink="/login">Log Out</a>
            </li>
    <li ngClass="nav-item">
        <a  routerLinkActive="actif" ngClass="nav-link" routerLink="/shopClient">Shop</a>
    </li>
    <li>
    <a  routerLinkActive="actif" ngClass="nav-link" routerLink="/panier">Panier</a>
    </li>
</ul>
<body>
       <div *ngIf="panier[0]!=null || panier[1]!=null; else none;" >
            <div style="margin-left: 40px;">
                    <div style="background-color:rgba(255, 255, 255,0.7);width:12%"> <h3> prix a payer:</h3></div> <input ngClass="form-control" type="text" [(ngModel)]="prixtot" style=" width: 10%;" disabled>
                    
                    <button (click)="this.shopService.AcheterduPanier(price)" ngClass="btn btn-primary">Acheter</button>
            </div>
        <ul >
        <ng-container *ngFor="let x of panier;let ind=index" >
        <ng-container *ngIf="panier[ind]!=null">
                            
            <li ngClass="list-group li">
                <span ngClass="card instance rounded" >
                        <div ngClass="card-body" style="height:60%;">
                                <img ngClass="card-img-top" src="{{x.image}}" alt="Image de produit" style="width: 100%;">
                        </div>
                        <div ngClass="card-body rounded" style="height:40%;">
                            <h5 ngClass="card-title">{{x.nom | personalised}}</h5>
                            <div ngClass="card-text">le prix: {{x.prix}} Dt</div>
                            <a ngClass="btn btn-primary butt" [routerLink]="['/Details',x.id]" >Details</a>
                            <button (click)="this.shopService.supprimerduPanier(ind)" ngClass="btn btn-primary butt">Ecraser du panier</button>
                        </div>
                </span>
            </li>
        </ng-container>
        </ng-container>
        </ul>
    </div>
    <ng-template #none >     
        <div style="background-color:rgba(255, 255, 255,0.7);width:80%;margin-left:10%;"> <h1 style="text-align: center;">Le panier est vide</h1></div>        
           
        
     </ng-template>
</body>
