
<ul ngClass="nav nav-tabs">
    <li ngClass="nav-item">
        <a  routerLinkActive="actif" ngClass="nav-link" routerLink="/login" onClick="this.shopService.client=false;">Log Out</a>
    </li> 
<li ngClass="nav-item">
    <a  routerLinkActive="actif" ngClass="nav-link" routerLink="/shopClient">Shop</a>
</li>

<li ngClass="nav-item">
<a  routerLinkActive="actif" ngClass="nav-link" routerLink="/panier">Panier</a>
</li>
<li ngClass="nav-item">
    <span ngClass="input-group">
            <input type="text" ngClass="form-control" placeholder="Recherche par nom" [(ngModel)]="nom">
            <input type="text" ngClass="form-control" placeholder="Recherche par prix" [(ngModel)]="prix">
            <img style="width: 30px; height:30px; margin:5px;" src="../../assets/search.png">
    </span>
</li>
</ul>
<html>
<body>
   
        <ul>
            <li *ngFor="let x of shopService.chercherProduits(nom,prix);let ind=index" ngClass="li">
               
                <span ngClass="card instance rounded"  >
                    <div ngClass="card-body div" [ngStyle]="{'height': '50%' }">
                        <img ngClass="card-img-top rounded" src="{{x.image}}" alt="Image de produit">
                    </div>
                    <div ngClass="card-body rounded" style="height:50%;">
                            <h5 ngClass="card-title">{{x.nom | personalised}}</h5>
                        <div ngClass="card-text">le prix: {{x.prix}} Dt</div>
                        <a ngClass="btn btn-primary butt" [routerLink]="['/Details',x.id]" >Details</a>
                        <button *ngIf="x.availability;else undisponible" (click)="this.shopService.AjouterAuPanier(ind)" ngClass="btn btn-primary butt">Ajouter au panier</button>
                        <ng-template #undisponible>             
                                <button  ngClass="btn btn-danger butt" disabled>Produit indisponible</button>
                            </ng-template>  
                        </div>
                    </span>
                </li>
            </ul>
</body>
</html>
